# Created by http://www.gitignore.io

### APP ###
app/properties.ini

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


### Composer ###
# Composer - http://getcomposer.org
/vendor
composer.phar
